<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kim.jul042.exam.ExamMapper">
	
	<insert id="regExam" parameterType="com.kim.jul042.exam.Exam">
		insert into jul04_exam values(
			#{e_name}, #{e_date_year}, #{e_date_month}, #{e_date_day}
		)
	</insert>
	
		<insert id="regExam_test" parameterType="com.kim.jul042.exam.Exam_test">
		insert into jul04_exam_test values(
			#{e_name_test}, #{e_date_test}
		)
	</insert>
	
	<select id="getAllExam" resultType="com.kim.jul042.exam.Exam">
		select * from jul04_exam order by e_date_year
	</select>
	
		<select id="getAllExam_test" resultType="com.kim.jul042.exam.Exam_test">
		select * from jul04_exam_test order by e_date_test
	</select>


</mapper>