<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kim.jul092.error.ErrorMapper">

<select id="getAllError" resultType="com.kim.jul092.error.Error">
	select * from jul09_error order by e_where
</select>

<select id="searchError" resultType="com.kim.jul092.error.Error"
parameterType="com.kim.jul092.error.Error">
	select * from jul09_error where e_what like	'%'||#{e_what}||'%'
</select>

</mapper>